<div class="navbar nav-white navbar-static-top">
  <div class="container">
    <div class="navbar-header">
    </div>

    <!--   Title and Icons   -->
    <div uib-collapse="vm.isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav">
        <li><i class="headerfont margin10">{{recr.fullName}}</i></li>
        <li class="padtop15"><i class="subheader-text">DOB: <strong>{{recr.dob | date: 'MM/dd/yyyy'}}</strong></i></li>
        <li class="padtop15"><i class="subheader-text">SSN: <strong>{{recr.ssn}}</strong></i></li>
        <li class="padtop15"><i class="subheader-text">Age: <strong>{{recr.age.val}}</strong></i></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li><a class="fa fa-user fa-2x pull-left" href="/candidateprofile#{{vm.id}}"></a></li>
        <li><a class="fa fa-heartbeat fa-2x pull-left" ui-sref="recruiterview"></a></li>
        <li><a class="fa fa-comments fa-2x pull-left" ui-sref="recruiterview"></a></li>
        <li><a class="fa fa-link fa-2x pull-left" href="/samplepef#{{vm.id}}"></a></li>
<!--        <li><i class="subheader-text">{{recr.status}}</i></li>-->
      </ul>
      
    </div>
  </div>
</div>