<div class="navbar nav-white navbar-static-top" ng-if="recr != undefined">
  <div class="container">
    <div class="navbar-header">
    </div>

    <!--   Title and Icons   -->
    <div uib-collapse="vm.isCollapsed" class="navbar-collapse collapse" id="banner-main">

      <ul class="nav navbar-nav line-height13 margin0">
        <li><i class="headerfont margin10">{{recr.fullName}}</i></li>
      </ul>

      <ul class="nav navbar-nav line-height13 margin0 visible-lg-block">
        <li class="padtop15"><i class="subheader-text">Age: <strong>{{recr.age}}</strong></i></li>
        <li class="padtop15"><i class="subheader-text">Sex: <strong>{{recr.sex}}</strong></i></li>
        <li class="padtop15"><i class="subheader-text">SSN4: <strong>{{recr.ssn}}</strong></i></li>
        <li class="padtop15"><i class="subheader-text">Status: <strong>{{recr.dutyType}} {{recr.status}}</strong></i></li>
        <li class="padtop15" ng-if="recr.pefCode!==undefined"><i class="subheader-text">PEF: <strong>{{recr.pefCode}}</strong></i></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li><a class="fa fa-user fa-2x pull-left a2 padvertical10" ng-class="{'gray': state!='candidateprofile'}" href="/candidateprofile#{{recr.id}}" uib-tooltip="Candidate Profile"></a></li>
        <li><a class="fa fa-heartbeat fa-2x pull-left a2 gray padvertical10" ui-sref="{{state}}" uib-tooltip="Medical Info"></a></li>
        <li><a class="fa fa-comments fa-2x pull-left a2 gray padvertical10" ui-sref="{{state}}" uib-tooltip="Notes"></a></li>
        <li ng-if="recr.dutyType==='DMR'"><a class="fa fa-link fa-2x pull-left a2 padvertical10" ng-class="{'gray': state!='samplepef'}" href="/samplepef#{{recr.id}}" uib-tooltip="PEF Assignment"></a></li>
      </ul>

    </div>
  </div>
</div>