$icon-font-path: '/assets/fonts/bootstrap/';
@import "../assets/themes/paper/variables";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import "../assets/themes/paper/bootswatch";
@import "~nouislider/distribute/nouislider";
@import "../assets/styles/noUiSlider";
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fa-2x,.fa-3x,.fa-4x {
  vertical-align: middle;
}

.badge-danger {
  background-color: #d43f3a;
}
.badge-warning {
  background-color: #d58512;
}

.badge-success {
  background-color: #398439;
}

.badge-info {
  background-color: #269abc;
}

.badge-inverse {
  background-color: #333333;
}

.text-danger {
  color: #d43f3a;
  background-color: lightpink;
  outline-color: #d43f3a;
  outline-width: 2px;
  outline-style: dashed;
}
.text-warning {
  color: #d58512;
}

.text-success {
  color: #398439;
}

.panel.small-fixed-panel{
  width:90px;
  display: flex;
  .panel-body{
    padding:10px;
    flex:1;
  }

  .panel-bar{
    @extend .bg-primary;
    width:4px;
    margin:10px 0;
  }
}

.fa-check-green {
  @extend .fa-check;
  color: limegreen;
}

.panel.panel-block{
  display: flex;
}

.table-lean {
  @extend .table;
  margin:0;
}

.table-hover-dk tbody tr:hover td {
  @extend .table-hover;
  background: lightgray;
}

.well-lblue {
  @extend .well;
  background-color: lightblue;
}


.input {
  -moz-appearance: none;
}


.row-profile {
  @extend .row;
  margin-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 75px;
}

@for $i from 1 through 6 {
  .topmargin-#{$i*5} { margin-top: 5px * $i; }
  .bottommargin-#{$i*5} { margin-bottom: 5px * $i; }
  .leftmargin-#{$i*5} { margin-left: 5px * $i; }
  .rightmargin-#{$i*5} { margin-right: 5px * $i; }
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import 'pefDetail/pefDetail';
@import 'samplepef/samplepef';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */
