$icon-font-path: '/assets/fonts/bootstrap/';
@import "../assets/themes/paper/variables";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import "../assets/themes/paper/bootswatch";
@import "~nouislider/distribute/nouislider";
@import "../assets/styles/noUiSlider";
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

//.grid-item {
//  float: left !important;
//  height: 245px;
//}

//.grid-item--245 { height: 245px; }
//.grid-item--toe { height: 75px; }
//.grid-item--demog { height: 390px; }
//.grid-item--scores { height: 377px; }
//.grid-item--vision { height: 280px; }
//.grid-item--quals { height: 310px; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fa-2x,.fa-3x,.fa-4x {
  vertical-align: middle;
}

.badge-danger {
//  background-color: #d43f3a;
  background-color: #e52430 //e51f4a;
}

.badge-warning {
  background-color: #fda313;
}

.badge-success {
  background-color: #33e730;
}

.badge-info {
  background-color: #269abc;
}

.badge-inverse {
  background-color: #333333;
}

.selected {
  background-color: #c6dbef;
}

.text-danger {
  color: #5d0817;
  background-color: #ffffff;  //ffacc5;
  outline-color: #e52430; //d43f3a
  outline-width: 2px;
  outline-style: dashed;
}

.footer-danger {
  color: #ffffff;
  background-color: #e52430;
  outline-color: #e52430; //d43f3a
  outline-width: 2px;
}

.text-warning {
  color: #d58512;
}

.text-success {
  color: #398439;
}

.text-gray {
  color: #d5d5d5;
}

.fa-check-green {
  @extend .fa-check;
  color: limegreen;
}

.fa-exclamation-triangle{
  @extend .fa-check;
  color: #e52430;
}

//PANELS

.panel.small-fixed-panel{
  width: 100px;
  display: flex;
  float: left;
  .panel-body{
    padding:0px;
    flex:1;
  }
  .panel-bar-ht{
    @extend .bg-primary;
    display:flex;
    width:4px;
    margin:10px 0;
  }
  .panel-footer{
    padding: 0px 15px;
    margin: 0px;
    height: 20px;
    width: 100px;
  }
}

.panel.small95{
  width: 95px;
  display: inline-table;
  margin-bottom: 10px;
  .panel-body{
    padding:0px;
    flex:1;
  }
//  .panel-bar{
//    @extend .bg-primary;
//    width:4px;
//    margin:10px 0;
//  }
  .panel-footer{
    padding: 0px 10px;
  }
}

.panel.htwt{
  width:95px;
  display: inline-table;
  float: left;
  margin: 10px;
    padding-top: 5px;
  .panel-body{
    padding: 0px;
    padding-bottom: 0px !important;
  }
  .panel-footer{
    padding: 0px 15px;
    margin: 0px;
    height: 20px;
  }
}

.panel.block-panel{
  width:255px;
  display: inline-table;
  float: left;
  margin: 10px;
  .panel-body{
    padding:10px;
    flex:1;
  }
  .panel-footer{
    font-size: smaller;
  }
}

.panel.block-panel-small{
  width:215px;
  display: inline-table;
  float: left;
  margin: 10px;
  padding-top: 10px;
  .panel-header{
    padding: 0px 10px;
    font-weight: 600;
  }
  .panel-body{
    padding:10px;
    flex:1;
  }
  .panel-footer{
    padding: 0px 10px;
  }
}

.panel.block-panel-small-0{
  width:215px;
  display: inline-table;
  float: left;
  margin: 10px;
  .panel-body{
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    flex:1;
  }
  .panel-footer{
    padding: 0px 10px;
    margin: 0px;
    height: 20px;
  }
}

.panel.profile-panel{
  display: inline-table;
  float: left;
  margin: 10px;
  height: 70px;
  width: 100%;
  .panel-header{
    padding: 5px;
    font-weight: 600;
    height: 33px;
    background-color: #4c4c4c;
  }
  .panel-body{
    padding:10px;
    flex:1;
  }
}

.panel.panel-full{
  margin-bottom: 15px;
  margin-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  width: 100%;
  .panel-body{
    padding:10px;
    flex:1;
  }
}


.text-border-xs {
  border-color: #a0a0a0;
  border: solid;
  border-width: thin;
  height: 25px;
  width: 25px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.text-border-sm {
  border-color: #a0a0a0;
  border: solid;
  border-width: thin;
  height: 25px;
  width: 45px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.text-border-md {
  border-color: #a0a0a0;
  border: solid;
  border-width: thin;
  height: 25px;
  width: 55px;
//  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.text-border-100 {
  border-color: #a0a0a0;
  border: solid;
  border-width: thin;
  height: 25px;
  width: 100px;
//  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.text-border-lg {
  border-color: #a0a0a0;
  border: solid;
  border-width: thin;
  height: 25px;
  width: 150px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.margin5 {
  margin: 0px 5px;
}

.margin10 {
  margin: 0px 10px;
  font-size: 16px;
  font-weight: 500;
}

.margin0 {
  margin: 0px;
}

.row-profile {
  padding-bottom: 10px;
  padding-top: 10px;
  height: 60px;
}

.well-black {
  @extend .well;
  float: left;
  background-color: #4c4c4c;
  width: 100%;
  margin-right: 10px;
}

.well-block {
  @extend .well;
  border-color: #a0a0a0;
  border: solid;
  border-width: thin;
  width: 260px;
}

.list-group-item {
  padding: 8px;
}

.row-header {
  margin-left: 15px;
  padding-bottom: 10px;
  padding-top: 0px;
  height: 80px;
}

.div-flag {
  height: 23px;
  margin-bottom: 10px;
}

.text-12 {
  font-size:12px;
  padding-left: 5px;
  margin-left: 10px;
  line-height: normal;
}

.label-border {
  border-color: #a0a0a0;
  border: solid;
  border-width: thin;
  height: 23px;
  min-width: 20px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.lb-sm {
  font-size: 10px;
}


@for $i from 1 through 6 {
  .topmargin-#{$i*5} { margin-top: 5px * $i; }
  .bottommargin-#{$i*5} { margin-bottom: 5px * $i; }
  .leftmargin-#{$i*5} { margin-left: 5px * $i; }
  .rightmargin-#{$i*5} { margin-right: 5px * $i; }
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'candidateprofile/candidateprofile';
@import 'candidateprofile/exams/exams';
@import 'candidateprofile/personal/personal';
@import 'main/main';
@import 'pefDetail/pefDetail';
@import 'pefview/pefview';
@import 'recruiterview/recruiterview';
@import 'samplepef/samplepef';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/pagehead/pagehead';
/* endinject */
