<div class="navbar nav-navy height70 navbar-static-top">
  <div class="container">
    <div class="navbar-header">
    </div>

    <!--   Title and Icons   -->
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse padright15" id="navbar-main">

      <ul class="nav navbar-nav height70">
        <li ui-sref-active="active"><p class="home-text"><a ui-sref="recruiterview">
          <span class="fa fa-3x pull-left" ng-class="{'fa-bars-white': !hoverbar, 'fa-bars': hoverbar}" ng-mouseenter="hoverbar=true" ng-mouseleave="hoverbar=false"></span></a></p></li>

        <li class="padtop10"><img src="assets/images/usmc.png" class="usmc" alt="MCRISS"></li>
        <li class="padtop10"><i class="headerfont margin10">{{title}}</i></li>
      </ul>

      <!--   Search (optional), Notification icon, Recruiter Name & Pic   -->
      <ul class="nav navbar-nav height70 navbar-right headerfont-sm">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><p class="home-text"><a ui-sref="signup">Sign up</a></p></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><p class="home-text"><a ui-sref="login">Login</a></p></li>
  
        <li ng-show="$ctrl.isLoggedIn()"><p class="home-text">{{$ctrl.getCurrentUser().rs}} | {{$ctrl.getCurrentUser().name}}</p></li>

        <!-- ALLOCATIONS -->
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active" class="padtop10 marginbottom20" uib-tooltip="Program Availability" tooltip-placement="bottom-left"><p class="home-text"><a ui-sref="allocationview">
          <span class="fa pull-left" ng-class="{'fa-line-chart':hoveralloc, 'fa-line-chart-white': !hoveralloc}" ng-mouseenter="hoveralloc=true" ng-mouseleave="hoveralloc=false"></span></a></p></li>
        
        <!-- VIEW/EDIT PEFS -->
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active" class="padtop10 marginbottom20" uib-tooltip="Program Management" tooltip-placement="bottom-left"><p class="home-text"><a ui-sref="pefview">
          <span class="fa pull-left" ng-class="{'fa-pencil-square-o':hoveredit, 'fa-pencil-square-o-white': !hoveredit}" ng-mouseenter="hoveredit=true" ng-mouseleave="hoveredit=false"></span></a></p></li>
        
        <!-- SETTINGS -->
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active" class="padtop10 marginbottom20" uib-tooltip="Settings" tooltip-placement="bottom"><p class="home-text"><a ui-sref="settings">
          <span class="fa pull-left" ng-class="{'fa-cog':hovercog, 'fa-cog-white': !hovercog}" ng-mouseenter="hovercog=true" ng-mouseleave="hovercog=false"></span></a></p></li>

        <!-- LOGOUT -->
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active" class="padtop10 marginbottom20" uib-tooltip="Logout" tooltip-placement="bottom"><p class="home-text"><a ui-sref="logout">
          <span class="fa pull-left" ng-class="{'fa-sign-out':hoverlogout, 'fa-sign-out-white': !hoverlogout}" ng-mouseenter="hoverlogout=true" ng-mouseleave="hoverlogout=false"></span></a></p></li>
      </ul>
    </div>
  </div>
</div>
