<div class="navbar nav-navy navbar-static-top">
  <div class="container">
    <div class="navbar-header">
    </div>

    <!--   Title and Icons   -->
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><p class="navbar-text"><a ui-sref="recruiterview">
          <span class="fa fa-3x pull-left" ng-class="{'fa-bars-white': !hoverbar, 'fa-bars': hoverbar}" ng-mouseenter="hoverbar=true" ng-mouseleave="hoverbar=false"></span></a></p></li>

        <li class="padtop10"><img src="assets/images/usmc.png" class="usmc" alt="MCRISS"></li>
        <li class="padtop10"><i class="headerfont margin10">{{$ctrl.title}}</i></li>
      </ul> 

      <!--<ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>-->

      <!--   Search (optional), Notification icon, Recruiter Name & Pic   -->
      <ul class="nav navbar-nav navbar-right headerfont-sm">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><p class="navbar-text"><a ui-sref="signup">Sign up</a></p></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><p class="navbar-text"><a ui-sref="login">Login</a></p></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">{{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active" class="padtop10"><p class="navbar-text"><a ui-sref="settings">
          <span class="fa pull-left" ng-class="{'fa-cog':hovercog, 'fa-cog-white': !hovercog}" ng-mouseenter="hovercog=true" ng-mouseleave="hovercog=false"></span></a></p></li>

        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active" class="padtop10"><p class="navbar-text"><a ui-sref="logout">
          <span class="fa pull-left" ng-class="{'fa-sign-out':hoverlogout, 'fa-sign-out-white': !hoverlogout}" ng-mouseenter="hoverlogout=true" ng-mouseleave="hoverlogout=false"></span></a></p></li>
      </ul>
    </div>
  </div>
</div>
