<div class="container">
  <div class="div-flag"></div>

  <!-- PEF List-->
  <div class="col-xs-12 col-sm-3">
    <div class="well-black">

      <!-- id filter -->
      <div class="input-group">
        <span class="searchicon"><i class="fa fa-2x fa-search"></i></span>
        <input type="text" class="text-center" placeholder="Search PEFs" ng-model="pefText">
      </div>

      <hr class="marginvertical15"/>

      <!-- SELECT PEF -->
      <ul class="list-group">
        <li class="list-group-item" ng-class="{'selected': pef===vm.selectedPef}" ng-repeat="pef in vm.pefs | filter: {errCategory: vm.fCategory, pefCode: pefText}"
            ng-click="vm.select(pef)"><strong>{{::pef.pefCode}}</strong>{{' - ' + pef.desc}}
          <span class="text-primary pull-right" ng-show="vm.isAdmin()"><a class="fa fa-2x" ng-class="{'fa-pencil': pef.isEditing, 'fa-pencil-gray': !pef.isEditing}" ng-click="pef.isEditing=!pef.isEditing"></a></span>
        </li>
      </ul>
    </div>
  </div>

    <!-- Selected PEF Header -->
  <div class="col-xs-12 col-sm-9">
    <div class="panel profile-panel">
      <div class="panel-header">
        <div class="fxnlink" ng-if="vm.selectedPef.isEditing"><a class="awhite" ng-click="vm.save()">SAVE</a></div>
        <div class="fxnlink" ng-if="vm.selectedPef.isEditing"><a class="awhite" ng-click="vm.cancel()">CANCEL</a></div>
        <div class="fxnlink" ng-if="vm.selectedPef.isEditing"><a class="awhite" ng-click="vm.restoreTiles()">RESTORE TILES</a></div>
      </div>
      <div class="panel-body">
         <span>
        <h4>{{vm.selectedPef.pefCode + ' - ' + vm.selectedPef.description}}</h4>
         </span>
      </div>
    </div>
  </div>

  <!-- BLOCKS - MASONRY GRID-->
  <div class="col-xs-12 col-sm-9" masonry reload-on-show id="grid">
    <div id="grid" class="grid">

      <!-- 0 PERSONAL -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.per">
        <div class="panel block-panel">
        <div class="panel-body">
          <div class="text-left">
            <span>
              <i class="fa fa-2x fa-street-view text-primary"></i><strong class="margin10"> Personal Attributes</strong>
              <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('per')"></i>
            </span>
              <hr class="marginvertical15">
          </div>

          <!-- age-->
          <div class="panel block-panel-small pull-left">
            <div class="panel-header">Age
<!--              <span><i class="fa fa-times-rectangle-o text-gray pull-right" ng-click="vm.hideAge=true;vm.layout(vm.msnry)"></i></span>-->
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.age.description}}" ng-click="vm.editDesc('Age', 'age')"></i></span>
            </div>
            <div class="panel-body">
              <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.age.min">
              <label class="margin5">yo </label>
              <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(max)" ng-model="vm.selectedPef.requirements.age.max">
              <label class="margin5">yo </label>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.age.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
            <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.age.waivable===true">
              <label class="margin0">+/-
              <input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.age.waiver">
               years </label>
            </span>
          </div>
        </div>

          <!-- gender-->
          <div class="panel block-panel-small pull-left">
            <div class="panel-header">Gender
<!--              <span><i class="fa fa-times-rectangle-o text-gray pull-right" ng-click="vm.hideSex=true;vm.layout(vm.msnry)"></i></span>-->
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.sex.description}}" ng-click="vm.editDesc('Gender', 'sex')"></i></span>
            </div>
            <div class="panel-body">
              <select ng-model="vm.selectedPef.requirements.sex.val" ng-disabled="vm.isReadOnly()" class="text-border-lg text-12">
                <option value>Select Option</option>
                <option ng-selected="vm.selectedPef.requirements.sex.val==='M'" value="M">Male Only</option>
                <option ng-selected="vm.selectedPef.requirements.sex.val==='F'" value="F">Female Only</option>
              </select>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.sex.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>

        <!-- ht wt-->
        <div class="panel block-panel-small pull-left">
          <div class="panel-header">Height & Weight
<!--            <span><i class="fa fa-times-rectangle-o text-gray pull-right" ng-click="vm.hideHtWt=true;vm.layout(vm.msnry)"></i></span>-->
          </div>
          <div class="panel-body">
            <span>
              <div class="panel small95">
                <div class="panel-bar"></div>
                <div class="panel-body">
                  <label class="lb-sm"><strong> Height</strong></label>
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.height.description}}" ng-click="vm.editDesc('Height', 'height')"></i></span>
                <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.height.min">
                <label> in.</label>
                <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(max)" ng-model="vm.selectedPef.requirements.height.max">
                <label> in.</label>
                </div>
                <div class="panel-footer">
                  <span>
                    <label class="margin0"><input type="checkbox" ng-disabled="vm.isReadOnly()" ng-click="vm.layout(vm.msnry)" ng-model="vm.selectedPef.requirements.height.waivable"> waivable</label>
                  </span>
                  <div ng-if="vm.selectedPef.requirements.height.waivable===true">
                    <label class="margin5">+/-
                    <input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.height.waiver"> in.</label>
                  </div>
                </div>
              </div>
              <div class="panel small95">
                <div class="panel-bar"></div>
                <div class="panel-body">
                  <label class="lb-sm"><strong> Weight</strong></label>
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.weight.description}}" ng-click="vm.editDesc('Weight', 'weight')"></i></span>
                <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.weight.min">
                <label> lbs</label>
                <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(max)" ng-model="vm.selectedPef.requirements.weight.max">
                <label> lbs</label>
                </div>
                <div class="panel-footer">
                  <span>
                    <label class="margin0"><input type="checkbox" ng-click="vm.layout(vm.msnry)" ng-disabled="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.weight.waivable"> waivable</label>
                  </span>
                  <div ng-if="vm.selectedPef.requirements.weight.waivable===true">
                    <label class="margin5">+/-
                    <input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.weight.waiver"> lbs</label>
                  </div>
                </div>
              </div>
            </span>
          </div>

        </div>

        </div> <!-- block panel body-->

        </div> <!-- block panel-->
      </div>

      <!-- 1 education -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.edu">
        <div class="panel block-panel">
        <div class="panel-body">

          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-graduation-cap text-primary"></i><strong class="margin10"> Education</strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('edu')"></i>
          </span>
              <hr class="marginvertical15">
          </div>

          <div>
          </div>

        <div class="panel block-panel-small-0 pull-left">
          <div class="panel-body">
            <div class="col-xs-12">

              <label>Grad Type: 
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.tierGrad.description}}" ng-click="vm.editDesc('Grad Tier', 'tierGrad')"></i></span>
                <select ng-disabled="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.tierGrad.max" class="text-border-lg text-12">
                  <option value>Select Option</option>
                  <option ng-selected="vm.selectedPef.requirements.tierGrad.max===1" value="1">Tier 1 (High School)</option>
                  <option ng-selected="vm.selectedPef.requirements.tierGrad.max===2" value="2">Tier 2 (Home School)</option>
                </select>
              </label>
            </div>
          </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.tierGrad.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>

        <div class="panel block-panel-small-0 pull-left">
          <div class="panel-body">
            <div class="col-xs-12">
              <label><input type="checkbox" ng-model="vm.selectedPef.requirements.algebra.has" ng-disabled="vm.isReadOnly()">1 Year Algebra or Higher</label> 
              </label>
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.algebra.description}}" ng-click="vm.editDesc('Algebra', 'algebra')"></i></span>
            </div>
          </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.algebra.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>
          
          </div>

      </div>
      </div>

      <!-- 2 TOE  -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.toe">
        <div class="panel block-panel">
        <div class="panel-body">

          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-calendar text-primary"></i><strong class="margin10"> Term of Enlistment</strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('toe')"></i>
            </span>
              <hr class="marginvertical15">
          </div>

          <div class="checkbox">
            <label class="pull-left">
              <input class="margin5 text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.toe.min"> years</label>
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.toe.description}}" ng-click="vm.editDesc('TOE', 'toe')"></i></span>
          </div>

        </div>
      </div>
      </div>

      <!-- 3 CITIZENSHIP  -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.cit">
        <div class="panel block-panel">
        <div class="panel-body">

          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-id-card-o text-primary"></i><strong class="margin10"> US Citizenship</strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('cit')"></i>
            </span>
              <hr class="marginvertical15">
          </div>

          <div class="col-xs-12">
            <label><input type="checkbox" ng-disabled="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.usCitizen.has">US Citizen (applicant)</label>
            <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.usCitizen.description}}" ng-click="vm.editDesc('Citizenship', 'usCitizen')"></i></span>
          </div>

          <div class="col-xs-12">
            <label><input type="checkbox" ng-disabled="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.usCitizenFamily.has">US Citizen (family)</label>
            <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.usCitizenFamily.description}}" ng-click="vm.editDesc('Family Citizenship', 'usCitizenFamily')"></i></span>
          </div>

        </div>
      </div>
      </div>

      <!-- 4 Clearance -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.cle">
        <div class="panel block-panel">
        <div class="panel-body">

          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-search text-primary"></i><strong class="margin10"> Clearance</strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('cle')"></i>
          </span>
              <hr class="marginvertical15">
          </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div>

                <label class="col-xs-12">Level 
                  <select ng-disabled="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.clearance.min" class="text-border-100 text-12">
                    <option value>Select Option</option>
                    <option ng-selected="vm.selectedPef.requirements.clearance.min===1" value="1">SECRET</option>
                    <option ng-selected="vm.selectedPef.requirements.clearance.min===2" value="2">TOP SECRET</option>
                  </select>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.clearance.description}}" ng-click="vm.editDesc('Clearance', 'clearance')"></i></span>
                </label>
              </div>
            </div>
<!--
            <div class="panel-footer">
              <span>
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.clearance.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
              </span>
            </div>
-->
          </div>

        </div>

      </div>
      </div>

      <!-- 4 test scores -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.sco">
        <div class="panel block-panel">
        <div class="panel-body">
          <div class="text-left">
            <span>
              <i class="fa fa-2x fa-lightbulb-o text-primary"></i><strong class="margin10"> Test Scores</strong>
              <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('sco')"></i>
            </span>
            <hr class="marginvertical15">
          </div>
                    
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <label class="col-xs-12"><strong>CL</strong>
                <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.cl.min">
                  <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.cl.description}}" ng-click="vm.editDesc('CL Score', 'cl')"></i></span>
              </label>
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.cl.waivable" ng-disabled="vm.isReadOnly()" ng-click="vm.layout(vm.msnry)"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.cl.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.cl.waiver"></label>
              </span>
            </div>
          </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
            <label class="col-xs-12"><strong>EL</strong>
              <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.el.min">
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.el.description}}" ng-click="vm.editDesc('EL Score', 'el')"></i></span>
              </label>
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.el.waivable" ng-disabled="vm.isReadOnly()" ng-click="vm.layout(vm.msnry)"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.el.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.el.waiver"></label>
              </span>
            </div>
          </div>
                              
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
            <label class="col-xs-12"><strong>GT</strong>
              <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.gt.min">
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.gt.description}}" ng-click="vm.editDesc('GT Score', 'gt')"></i></span>
              </label>            
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.gt.waivable" ng-disabled="vm.isReadOnly()" ng-click="vm.layout(vm.msnry)"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.gt.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.gt.waiver"></label>
              </span>
            </div>
          </div>
                              
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
            <label class="col-xs-12"><strong>MM</strong>
              <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.mm.min">
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.mm.description}}" ng-click="vm.editDesc('MM Score', 'mm')"></i></span>
              </label>
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.mm.waivable" ng-disabled="vm.isReadOnly()" ng-click="vm.layout(vm.msnry)"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.mm.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.mm.waiver"></label>
              </span>
            </div>
          </div>
                              
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
            <label class="col-xs-12"><strong>VE</strong>
              <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.ve.min">
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.ve.description}}" ng-click="vm.editDesc('VE Score', 've')"></i></span>
              </label>
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.ve.waivable" ng-disabled="vm.isReadOnly()" ng-click="vm.layout(vm.msnry)"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.ve.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.ve.waiver"></label>
              </span>
            </div>
          </div>
                              
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <label class="col-xs-12"><strong>QT</strong>
                <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.qt.min">
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.qt.description}}" ng-click="vm.editDesc('QT Score', 'qt')"></i></span>
              </label>
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.qt.waivable" ng-disabled="vm.isReadOnly()" ng-click="vm.layout(vm.msnry)"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.qt.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.qt.waiver"></label>
              </span>
            </div>
          </div>
                              
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <label class="col-xs-12"><strong>DLAB</strong>
                <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(min)" ng-model="vm.selectedPef.requirements.dlab.min">
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.dlab.description}}" ng-click="vm.editDesc('DLAB Score', 'dlab')"></i></span>
              </label>
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.dlab.waivable" ng-disabled="vm.isReadOnly()" ng-click="vm.layout(vm.msnry)"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.dlab.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.dlab.waiver"></label>
              </span>
            </div>
          </div>
        </div>
      </div>
      </div>

      <!--  vision -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.vis">
        <div class="panel block-panel">
        <div class="panel-body">
          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-eye text-primary"></i><strong class="margin10"> Vision </strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('vis')"></i>
          </span>
              <hr class="marginvertical15">
          </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div class="col-xs-12">
                <label>Color Perception</label>
                  <input class="text-border-sm30" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.vision.color.min">
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.vision.color.description}}" ng-click="vm.editDesc('Color Perception', 'vision.color')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.vision.color.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
            <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.vision.color.waivable===true">
              <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.vision.color.waiver"></label>
            </span>
          </div>
        </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div  class="col-xs-12">
                <label class="control-label pull-left">Acuity Eye 1: 20/
                <input class="text-border-sm40" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.vision.acuity.max1"></label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.vision.acuity.description}}" ng-click="vm.editDesc('Acuity', 'vision.acuity')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.vision.acuity.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div  class="col-xs-12">
                <label class="control-label pull-left">Acuity Eye 2: 20/
                <input class="text-border-sm40" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.vision.acuity.max2"></label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.vision.acuity.description}}" ng-click="vm.editDesc('Acuity', 'vision.acuity')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.vision.acuity.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div class="col-xs-12">
                <label>
                  <input type="checkbox" ng-disabled="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.vision.depth.has">Depth Perception</label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.vision.depth.description}}" ng-click="vm.editDesc('NDP', 'vision.depth')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.vision.depth.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>
  
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div  class="col-xs-12">
                <label>
                  <input type="checkbox" ng-disabled="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.vision.correctable.has">Correctable to 20/20</label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.vision.correctable.description}}" ng-click="vm.editDesc('Correctable', 'vision.correctable')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.vision.correctable.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>
  
        </div>
      </div>
      </div>

      <!--  driving -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.dri">
        <div class="panel block-panel">
          <div class="panel-body">
          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-car text-primary"></i><strong class="margin10"> Driving </strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('dri')"></i>
          </span>
              <hr class="marginvertical15">
          </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div class="col-xs-12">
                <label>
                <input type="checkbox" ng-disabled="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.driving.license.has">Driver's License</label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.driving.license.description}}" ng-click="vm.editDesc('Driver\'s License', 'driving.license')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.driving.license.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>
          
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
            <label class="col-xs-12">Traffic Violations
              <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(max)" ng-model="vm.selectedPef.requirements.driving.violations.max">
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.driving.violations.description}}" ng-click="vm.editDesc('Traffic Violations', 'driving.violations')"></i></span></label>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.driving.violations.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
            <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.driving.violations.waivable===true">
              <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.driving.violations.waiver"></label>
            </span>
          </div>
        </div>

        <div class="panel block-panel-small-0 pull-left">
          <div class="panel-body">
          <label class="col-xs-12">Driving Offenses
            <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(max)" ng-model="vm.selectedPef.requirements.driving.offenses.max">
            <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.driving.offenses.description}}" ng-click="vm.editDesc('Driving Offenses', 'driving.offenses')"></i></span></label>
          </div>
          
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.driving.offenses.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
            <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.driving.offenses.waivable===true">
              <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.driving.offenses.waiver"></label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!--  moral -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.mor">
        <div class="panel block-panel">
        <div class="panel-body">
          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-gavel text-primary"></i><strong class="margin10"> Moral </strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('mor')"></i>
            </span>
              <hr class="marginvertical15">
          </div>
          
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
            <label class="col-xs-12">Misconduct
            <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(max)" ng-model="vm.selectedPef.requirements.moral.conduct.max">
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.moral.conduct.description}}" ng-click="vm.editDesc('Misconduct', 'moral.conduct')"></i></span></label>
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.moral.conduct.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.moral.conduct.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.moral.conduct.waiver"></label>
              </span>
            </div>
          </div>
          
        <div class="panel block-panel-small-0 pull-left">
          <div class="panel-body">
          <label class="col-xs-12">Marijuana
            <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(max)" ng-model="vm.selectedPef.requirements.moral.marijuana.max">
            <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.moral.marijuana.description}}" ng-click="vm.editDesc('Marijuana', 'moral.marijuana')"></i></span></label>
          </div>

          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.moral.marijuana.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
            <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.moral.marijuana.waivable===true">
              <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.moral.marijuana.waiver"></label>
            </span>
          </div>
        </div>
          
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <label class="col-xs-12">Other Drugs
                <input class="text-border-sm" ng-readonly="vm.isReadOnly()" placeholder="(max)" ng-model="vm.selectedPef.requirements.moral.otherDrugs.max">
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.moral.otherDrugs.description}}" ng-click="vm.editDesc('Other Drugs', 'moral.otherDrugs')"></i></span></label>
            </div>

            <div class="panel-footer">
              <span class="marginhorizontal10">
                <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.moral.otherDrugs.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
              </span>
              <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.moral.otherDrugs.waivable===true">
                <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.moral.otherDrugs.waiver"></label>
              </span>
            </div>
          </div>
        </div>
      </div>
      </div>

      <!-- certifications -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.cer">
        <div class="panel block-panel">
        <div class="panel-body">
          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-certificate text-primary"></i><strong class="margin10"> Certifications </strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('cer')"></i>
          </span>
              <hr class="marginvertical15">
          </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div  class="col-xs-12">
                <label><input type="checkbox" ng-model="vm.selectedPef.requirements.waterQual.has" ng-disabled="vm.isReadOnly()">WS-B(+) Water Surv. Cert</label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.waterQual.description}}" ng-click="vm.editDesc('Water Survival Certification', 'waterQual')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.waterQual.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>

          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div class="col-xs-12">
            <label><input type="checkbox" ng-model="vm.selectedPef.requirements.flightPhysical.has" ng-disabled="vm.isReadOnly()">Flight Physical</label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.flightPhysical.description}}" ng-click="vm.editDesc('Flight Physical', 'flightPhysical')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.flightPhysical.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>
            
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div class="col-xs-12">
            <label><input type="checkbox" ng-model="vm.selectedPef.requirements.pftClass1.has" ng-disabled="vm.isReadOnly()">1st Class PFT Score</label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.pftClass1.description}}" ng-click="vm.editDesc('1st Class PFT Score', 'pftClass1')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.pftClass1.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>
          

          </div>  <!-- well -->
      </div>
      </div>

      <!--  additional screening/quals -->
      <div class="grid-item" ng-show="vm.selectedPef.pefvis.scr">
        <div class="panel block-panel">
        <div class="panel-body">
          <div class="text-left">
            <span>
            <i class="fa fa-2x fa-check-square-o text-primary"></i><strong class="margin10"> Screenings </strong>
            <i class="fa fa-times-rectangle-o text-gray pull-right" ng-if="vm.selectedPef.isEditing" ng-click="vm.hideTiles('scr')"></i>
          </span>
              <hr class="marginvertical15">
          </div>
            
          <div class="panel block-panel-small-0 pull-left">
            <div class="panel-body">
              <div  class="col-xs-12">
                <label><input type="checkbox" ng-model="vm.selectedPef.requirements.speech.has" ng-disabled="vm.isReadOnly()">Clarity of Speech</label>
                <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.speech.description}}" ng-click="vm.editDesc('Clarity of Speech', 'speech')"></i></span>
              </div>
            </div>
          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.speech.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
          </div>
        </div>

        <div class="panel block-panel-small-0 pull-left">
          <div class="panel-body">
            <label class="col-xs-12">PRP Responses
              <input class="text-border-sm30" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.prpScreen.max">
              <span><i class="fa fa-file-text {{vm.modeColor}} pull-right" uib-tooltip="{{vm.selectedPef.requirements.prpScreen.description}}" ng-click="vm.editDesc('Negative PRP Responses', 'prpScreen')"></i></span></label>
          </div>

          <div class="panel-footer">
            <span class="marginhorizontal10">
              <label class="margin0"><input type="checkbox" ng-model="vm.selectedPef.requirements.prpScreen.waivable" ng-disabled="vm.isReadOnly()"> waivable</label>
            </span>
            <span class="marginhorizontal10" ng-if="vm.selectedPef.requirements.prpScreen.waivable===true">
              <label class="margin0">Amount:<input class="text-border-xs waiver-input" ng-readonly="vm.isReadOnly()" ng-model="vm.selectedPef.requirements.prpScreen.waiver"></label>
            </span>
          </div>
        </div>

    </div>  <!-- well -->
      </div>
      </div>

    </div>
  </div>

</div>  <!-- container -->
