<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>PEF Detail - {{vm.pef.pefCode}} {{vm.pef.description}} </h4>
    </div>
    <div class="col-sm-12">

      <div>
        <br/>
      </div>

      <form class="form" name="form">

        <!-- PEF GENERAL-->
        <div class="col-sm-4">
          <div class="well">
            <div class="form-group"
                 ng-class="{ 'has-success': form.pefCode.$valid, 'has-error': form.pefCode.$invalid }">
              <label>PEF Code</label>

              <input type="text" name="pefCode" class="form-control" ng-model="vm.pef.pefCode" required mongoose-error/>
              <p class="help-block" ng-show="form.pefCode.$error.required">A PEF Code is required</p>
              <p class="help-block" ng-show="form.pefCode.$error.mongoose">{{ vm.errors.pefCode }}</p>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-success': form.description.$valid, 'has-error': form.description.$invalid}">
              <label>Description</label>

              <input name="description" class="form-control" ng-model="vm.pef.description" required/>
              <p class="help-block" ng-show="form.description.$error.required">A description is required</p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.mos.$valid, 'has-error': form.mos.$invalid}">
              <label>MOS List</label>

              <input name="mos" class="form-control" ng-model="vm.pef.mos" required/>
              <p class="help-block" ng-show="form.mos.$error.required">Add an MOS detail to the list</p>
            </div>
          </div>
        </div>

        <!--  REQUIREMENTS -->
        <!-- Demographics: TOE, sex, ht, wt, citizenship -->
        <div class="col-sm-5">
          <div class="well">
            <div class="form-horizontal">
              <h5>Demographics:</h5>
              <div class="form-group">
                <label class="col-sm-5 control-label">Term of Enlistment:</label>
                <input type="text" class="col-sm-1" id="toeval" ng-model="vm.req.toe.val">
              </div>

              <div class="form-inline">
                <div class="checkbox col-sm-5">
                  <label class="control-label">US Citizenship
                    <input type="checkbox" id="citizenval" ng-checked="vm.req.usCitizen.val === true" class="col-sm-1">
                  </label>
                </div>
                <div class="checkbox col-sm-5">
                  <label class="control-label">Family Citizenship
                    <input type="checkbox" id="citizenfamval" ng-checked="vm.req.usCitizenFamily.val == true"
                           class="col-sm-1">
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">Sex Restriction:</label>
                <select name="name" id="sexval" class="col-sm-4 control" ng-model="vm.req.sex.val">
                  <option value="">None</option>
                  <option value="M">Male Only</option>
                  <option value="F">Female Only</option>
                </select>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Age min:</label>
                <input type="number" class="col-sm-1" id="agemin" ng-model="vm.req.age.min">
                <label class="col-sm-2 control-label">max:</label>
                <input type="number" class="col-sm-1" id="agemax" ng-model="vm.req.age.max">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="number" id="agewaiver" ng-model="vm.req.age.waiver" class="col-sm-1">
              </div>


              <div class="form-group">
                <label class="col-sm-3 control-label">Height min:</label>
                <input type="number" class="col-sm-2" id="heightmin" ng-model="vm.req.height.min">
                <label class="col-sm-2 control-label">max:</label>
                <input type="number" class="col-sm-2" id="heightmax" ng-model="vm.req.height.max">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="number" id="heightwaiver" ng-model="vm.req.height.waiver" class="col-sm-1">
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <div class="checkbox col-sm-12">
                    <label class="control-label">Height required for all MOS's
                      <input type="checkbox" id="heightoptional" ng-checked="vm.req.height.optional == true"
                             class="col-sm-1">
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Weight min:</label>
                <input type="number" class="col-sm-2" id="weightmin" ng-model="vm.req.weight.min">
                <label class="col-sm-2 control-label">max:</label>
                <input type="number" class="col-sm-2" id="weightmax" ng-model="vm.req.weight.max">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="number" id="weightwaiver" ng-model="vm.req.weight.waiver" class="col-sm-1">
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <div class="checkbox col-sm-7">
                    <label class="control-label">Weight required for all MOS's?
                      <input type="checkbox" id="weightoptional" ng-checked="vm.req.weight.optional == true"
                             class="col-sm-1">
                    </label>
                  </div>
                </div>
              </div>

            </div>  <!--horizontal -->

          </div>
        </div> <!-- Demographics end -->

        <!-- Scores-->
        <div class="col-sm-4">
          <div class="well">
            <div class="form-horizontal">
              <label>Scores (minimum):</label>

              <div class="form-group">
                <label class="col-sm-2 control-label">CL:</label>
                <input type="text" value="{{vm.req.cl.val}}" class="col-sm-2">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="text" value="{{vm.req.cl.waiver}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">EL:</label>
                <input type="text" value="{{vm.req.el.val}}" class="col-sm-2">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="text" value="{{vm.req.el.waiver}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">GT:</label>
                <input type="text" value="{{vm.req.gt.val}}" class="col-sm-2">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="text" value="{{vm.req.gt.waiver}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">MM:</label>
                <input type="text" value="{{vm.req.mm.val}}" class="col-sm-2">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="text" value="{{vm.req.mm.waiver}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">VE:</label>
                <input type="text" value="{{vm.req.ve.val}}" class="col-sm-2">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="text" value="{{vm.req.ve.waiver}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">QT:</label>
                <input type="text" value="{{vm.req.qt.val}}" class="col-sm-2">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="text" value="{{vm.req.qt.waiver}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">DLAB:</label>
                <input type="text" value="{{vm.req.dlab.val}}" class="col-sm-2">
                <label class="col-sm-2 control-label">Waiver:</label>
                <input type="text" value="{{vm.req.dlab.waiver}}" class="col-sm-1">
              </div>
            </div>
          </div> <!-- Scores end -->
        </div>

        <!-- Vision-->
        <div class="col-sm-4">
          <div class="well">

            <div class="form-horizontal">
              <label>Vision:</label>
              <div class="form-group">
                <label class="col-sm-5 control-label">Acuity min: 20/</label>
                <input type="text" class="col-sm-1" ng-model="vm.req.vision.acuity.max1">
                <label class="col-sm-4 control-label">20/</label>
                <input type="text" class="col-sm-1" ng-model="vm.req.vision.acuity.max2">
              </div>

              <div class="form-group">
                <label class="col-sm-5 control-label">PIP min:</label>
                <input type="text" class="col-sm-1" id="colorval" ng-model="vm.req.vision.color.val">
              </div>

              <div class="form-group">
                <div class="form-inline">
                  <div class="checkbox col-sm-10">
                    <label class="control-label">Normal Depth Perception
                      <input type="checkbox" id="npd" ng-checked="vm.req.vision.depth.ndp == true" class="col-sm-1">
                    </label>
                  </div>
                </div>

                <div class="form-inline">
                  <div class="checkbox col-sm-10">
                    <label class="control-label">Vision correctable to 20/20
                      <input type="checkbox" id="visioncorrectableval"
                             ng-checked="vm.req.vision.correctable.val === true"
                             class="col-sm-1">
                    </label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>  <!-- end Vision-->

        <!-- Driving-->
        <div class="col-sm-4">
          <div class="well">
            <label>Driving:</label>
            <div class="form-horizontal">
              <label>Offenses:</label>
              <div class="form-group">
                <label class="col-sm-2 control-label">max:</label>
                <input type="text" value="{{vm.req.driving.offenses.max}}" class="col-sm-1">
                <label class="col-sm-3 control-label">at RS:</label>
                <input type="text" value="{{vm.req.driving.offenses.maxAtRs}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">above RS:</label>
                <input type="text" value="{{vm.req.driving.offenses.maxAboveRs}}" class="col-sm-1">
                <label class="col-sm-5 control-label">before DEP:</label>
                <input type="text" value="{{vm.req.driving.offenses.maxAtDep}}" class="col-sm-1">
                <div class="form-inline">
                  <div class="checkbox col-sm-10">
                    <label class="control-label">Waivable
                      <input type="checkbox" id="drivingoffenseswaivable"
                             ng-checked="vm.req.driving.offenses.waiver === true" class="col-sm-1"></label>
                  </div>
                </div>
              </div>

              <label>Traffic Violations:</label>
              <div class="form-group">
                <label class="col-sm-2 control-label">max:</label>
                <input type="text" value="{{vm.req.driving.trafficViolations.max}}" class="col-sm-1">
                <label class="col-sm-3 control-label">at RS:</label>
                <input type="text" value="{{vm.req.driving.trafficViolations.maxAtRs}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">above RS:</label>
                <input type="text" value="{{vm.req.driving.trafficViolations.maxAboveRs}}" class="col-sm-1">
                <label class="col-sm-5 control-label">at DEP:</label>
                <input type="text" value="{{vm.req.driving.trafficViolations.maxAtDep}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">before DEP:</label>
                <input type="text" placeholder="max" value="{{vm.req.driving.trafficViolations.maxBeforeDep}}"
                       class="col-sm-1">
              </div>
              <div class="form-group">

                <div class="form-inline">
                  <div class="checkbox col-sm-10">
                    <label class="control-label">Waivable
                      <input type="checkbox" id="trafficviolationswaivable"
                             ng-checked="vm.req.driving.trafficViolations.waiver === true" class="col-sm-1"></label>
                  </div>
                </div>
                <div class="form-inline">
                  <div class="checkbox col-sm-10">
                    <label class="control-label">Require Drivers License
                      <input type="checkbox" id="licenseval" ng-checked="vm.req.driving.driversLicense.val === true"
                             class="col-sm-1"></label>
                  </div>
                </div>
                <div class="form-inline">
                  <div class="checkbox col-sm-10">
                    <label class="control-label">Required for all MOS's?
                      <input type="checkbox" id="offensesoptional"
                             ng-checked="vm.req.driving.offenses.optional === false"
                             class="col-sm-1"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end -->

        <!-- Moral-->
        <div class="col-sm-4">
          <div class="well">
            <label>Moral:</label>
            <div class="form-horizontal">
              <label> Conduct:</label>
              <div class="form-group">
                <label class="col-sm-2 control-label">max:</label>
                <input type="text" value="{{vm.req.moral.conduct.max}}" class="col-sm-1">
                <label class="col-sm-3 control-label">at RS:</label>
                <input type="text" value="{{vm.req.moral.conduct.maxAtRs}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">above RS:</label>
                <input type="text" value="{{vm.req.moral.conduct.maxAboveRs}}" class="col-sm-1">
                <label class="col-sm-5 control-label">before DEP:</label>
                <input type="text" value="{{vm.req.moral.conduct.maxBeforeDep}}" class="col-sm-1">
              </div>

              <div class="form-inline">
                <div class="checkbox col-sm-10">
                  <label class="control-label">Waivable
                    <input type="checkbox" id="conductwaivable" ng-checked="vm.req.moral.conduct.waiver === true"
                           class="col-sm-1"></label>
                </div>
              </div>

              <div class="form-inline">
                <div class="checkbox col-sm-10">
                  <label class="control-label">Required for all MOS's?
                    <input type="checkbox" id="conductoptional" ng-checked="vm.req.moral.conduct.optional === false"
                           class="col-sm-1"></label>
                </div>
              </div>

              <label>Marijuana:</label>
              <div class="form-group">
                <label class="col-sm-2 control-label">max:</label>
                <input type="text" value="{{vm.req.moral.marijuana.max}}" class="col-sm-1">
                <label class="col-sm-3 control-label">at RS:</label>
                <input type="text" value="{{vm.req.moral.marijuana.maxAtRs}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">above RS:</label>
                <input type="text" value="{{vm.req.moral.marijuana.maxAboveRs}}" class="col-sm-1">
                <label class="col-sm-5 control-label">before DEP:</label>
                <input type="text" value="{{vm.req.moral.marijuana.maxAtDep}}" class="col-sm-1">
              </div>
              <div class="form-inline">
                <div class="checkbox col-sm-10">
                  <label class="control-label">Waivable
                    <input type="checkbox" id="marijuanawaivable" ng-checked="vm.req.moral.marijuana.waiver === true"
                           class="col-sm-1"></label>
                </div>
              </div>

              <label>Other Drugs:</label>
              <div class="form-group">
                <label class="col-sm-2 control-label">max:</label>
                <input type="text" value="{{vm.req.moral.otherDrugs.max}}" class="col-sm-1">
                <label class="col-sm-3 control-label">at RS:</label>
                <input type="text" value="{{vm.req.moral.otherDrugs.maxAtRs}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">above RS:</label>
                <input type="text" value="{{vm.req.moral.otherDrugs.maxAboveRs}}" class="col-sm-1">
                <label class="col-sm-5 control-label">before DEP:</label>
                <input type="text" value="{{vm.req.moral.otherDrugs.maxAtDep}}" class="col-sm-1">
              </div>
              <div class="form-group">
                <div class="form-inline">
                  <div class="checkbox col-sm-10">
                    <label class="control-label">Waivable
                      <input type="checkbox" id="drugswaivable" ng-checked="vm.req.moral.otherDrugs.waiver === true"
                             class="col-sm-1"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end -->

        <!-- Qualifications/Education -->
        <div class="col-sm-4">
          <div class="well">
            <div class="form-horizontal">
            </div>
          </div>
        </div> <!-- end -->

      </form>
    </div>

  </div>
  <hr>
</div>


