
<div class="container">

  <div class="panel panel-full">
    <div class="panel-body">

    <div class="col-sm-3 container">

    <div class="text-center">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <hr/>

    <h5>Applicant Profile</h5>

    <ul class="nav nav-pills nav-stacked">
      <li ng-click="tb=0" ng-class="{'active': tb===0}"><a>I: Personal Data</a></li>
      <li ng-click="tb=1" ng-class="{'active': tb===1}"><a>II: Examination & Entrance</a></li>
      <li ng-click="tb=2" ng-class="{'active': tb===2}"><a>III: Other Personal Data</a></li>
      <li ng-click="tb=3" ng-class="{'active': tb===3}"><a>IV: Certification</a></li>
      <li ng-click="tb=4" ng-class="{'active': tb===4}"><a>V: Recertification</a></li>
      <li ng-click="tb=5" ng-class="{'active': tb===5}"><a>VI: Remarks</a></li>
      <li ng-click="tb=6" ng-class="{'active': tb===6}"><a>VII: Statement</a></li>
      <li ng-click="tb=7" ng-class="{'active': tb===7}"><a>VIII: Parental/Guardian</a></li>
    </ul>
    <hr/>

  </div>
    <div class="container col-sm-9">
        <uib-tabset active="tb">
            <uib-tab index="0"><personal></personal></uib-tab>
            <uib-tab index="1"><exams></exams></uib-tab>
            <uib-tab index="2">other stuff</uib-tab>
            <uib-tab index="3">cert</uib-tab>
            <uib-tab index="4">recert</uib-tab>
            <uib-tab index="5">remarks</uib-tab>
            <uib-tab index="6">statement</uib-tab>
            <uib-tab index="7">parental</uib-tab>
        </uib-tabset>
    </div>
   </div>  <!-- panel body-->
 </div>  <!-- Panel -->

</div>

